<div class="row">
    <div class="col-sm-6">
        <img src="{{ movie['posterImage'] }}" alt='{{ movie["movieName"]}}' id="movie-image">
    </div>
    <div class="col-sm-6">
        <h4>Movie Info:</h4>
        <p>{{ movie['movieDescription'] }}</p>
        <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
                viewBox="0 0 16 16">
                <path
                    d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
            </svg> {{ movie['movieRating'] }}
        </p>
        <p>Movie Status: {{ movie['movieStatus'] }}</p>
        <p>Genre: {{ movie['genre'] }}</p>
        <p>Language: {{ movie['language'] }}</p>
        <p>Released Date: {{ releasedDate }}</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h4>Comments:</h4>
        <ul class="list-group list-group-flush" *ngFor="let review of movie['reviews']">
            <li class="list-group-item d-flex justify-content-between align-items-center">{{ review.reviewComment }}
                <span class="badge bg-secondary rounded-pill">{{ review.reviewDateTime }}</span>
            </li>
        </ul>
    </div>
    <div class="col-sm-6">
        <h4>Casts:</h4>
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true" *ngFor="let cast of movie['casts']" id="movie-casts">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ cast.castName }}</h5>
              <small>{{ cast.castRating }} &nbsp; <i class="bi bi-star-fill"></i></small>
            </div>
            <p class="mb-1">&nbsp; &nbsp;{{ cast.castDescription }}</p>
          </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-2" *ngFor="let show of shows">
        <div class="card show-card">
            <div class="card-body">
                <h5 class="card-title">{{ show['movieName'] }}</h5>
                <p class="card-text">Running in: {{ show['theatreName'] }}</p>
                <p> Released Date: {{ show['startingDate'] }}</p>
            </div>
        </div>
    </div>
</div>
